.expense-container {
  width: 90%;
  max-width: 1200px;

  margin: 20px auto;
}

.expense-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.expense-form {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.expense-form input,
.expense-form select {
  flex: 1;
  min-width: 200px;
}

.expense-form button {
  background: royalblue;
  color: white;
  border: none;
  padding: 10px 20px;
}

.expense-list {
  margin-top: 30px;
}

.expense-card {
  background: #f5f5f5;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.dark-theme {
  background-color: #121212;
  color: white;
}

.dark-theme .expense-card {
  background-color: #2a2a2a;
}